[mcu eddy]
serial: /dev/serial/by-id/usb-Klipper_rp2040_504450612039A61C-if00
restart_method: command

[probe_eddy_current btt_eddy]
sensor_type: ldc1612
descend_z: 2
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: 0
y_offset: 21.6

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_probe btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26
horizontal_move_z: 2.0

[quad_gantry_level]
gantry_corners:
    0,0
    365,365
points:
    40,40          # Зонд: X=40,Y=40 (сопло: X=40,Y=18.4)
    40,300         # Зонд: X=40,Y=300 (сопло: X=40,Y=278.4)
    320,300        # Зонд: X=320,Y=300 (сопло: X=320,Y=278.4)
    320,40         # Зонд: X=320,Y=40 (сопло: X=320,Y=18.4)
    
speed: 160
horizontal_move_z: 5
retry_tolerance: 0.025
retries: 5
max_adjust: 30

[bed_mesh]
speed: 160
horizontal_move_z: 2
mesh_min: 25, 25          # Зонд: X=25,Y=25 (сопло: X=25,Y=3.4)
mesh_max: 330, 330        # Зонд: X=330,Y=330 (сопло: X=330,Y=308.4)
# Учитываем смещение центра
# mesh_min: 30, 30      # Зонд: X=30,Y=30
# mesh_max: 330, 311    # Зонд: X=330,Y=311 (макс Y)
zero_reference_position: 180, 170.5
probe_count: 15,15
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[homing_override]
gcode:
  G91 ; относительное позиционирование
  G0 Z5 F1000 ; безопасный подъем Z (zhop) перед началом
  
  {% if not rawparams or 'Y' in rawparams %}
    {action_respond_info('Homing Y')}
    G28 Y
    G90 ; абсолютное позиционирование
    G0 Y170.5 F6000 ; Реальный центр по Y
    M400
  {% endif %}
  
  {% if not rawparams or 'X' in rawparams %}
    {action_respond_info('Homing X')}
    G28 X
    G90 ; абсолютное позиционирование
    G0 X180 F6000 ; Реальный центр по X
    M400
  {% endif %}
  
  {% if not rawparams or 'Z' in rawparams %}
    {action_respond_info('Homing Z')}
    G90 ; абсолютное позиционирование
    G0 X180 Y170.5 F6000 ; Перемещение в центр стола для точного гоминга Z
    G28 Z ; Официальное гоминг Z через виртуальный концевик Eddy (заменяет старый макрос)
    G0 Z10 F1000 ; Подъем на безопасную высоту после успешного гоминга
    M400
  {% endif %}
  
  G90 ; абсолютное позиционирование
axes: xyz
set_position_z: 0
