[neopixel hotend_rgb]
pin: EBBCan:PD3
chain_count: 3          # Добавьте эту строку - количество светодиодов
color_order: GRB        # Можно указать при необходимости
#initial_RED: 0.0       # Опционально - начальный цвет
#initial_GREEN: 0.0
#initial_BLUE: 0.0

#[bltouch]
#sensor_pin: ^EBBCan:PB8
#control_pin: EBBCan:PB9

#[filament_switch_sensor switch_sensor]
#switch_pin: EBBCan:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCan:PB3