[include mainsail.cfg]
[include sovol-macros.cfg]
#[include adaptive_purge.cfg]
[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN

# PLEASE UNCOMMENT THE FILE THAT BEST FITS YOUR CONFIGURATION

# IF YOU ARE USING THE SCREEN THAT COMES WITH THE SV08
[include options/lcd/*.cfg]

# Choose whether you would rather control your LEDs with the LCD screen or KlipperScreen
# THESE ARE INCOMPATIBLE WITH EACH OTHER; ONLY ENABLE ONE
[include options/led/lcd.cfg]
#[include options/led/hdmi.cfg]

# If you are using the stock probe, keep the following lines as-is.
# If you have an Eddy probe, comment the first and uncomment the second,
# then go read options/probe/eddy.cfg. 
# Also, when using eddy, comment out/remove the [probe] section here in the printer.cfg
#[include options/probe/stock.cfg]
[include options/probe/eddy.cfg]
[include KAMP_Settings.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_38FFDB053347533824732051-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_50FF6D068367515520350467-if00
restart_method: command      

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy           
max_velocity: 700            
max_accel: 10000             
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

[skew_correction]

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 75
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE13 

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.55           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current:  0.55          
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.55            
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true            
run_current: 0.55         
#hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999 

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[extruder]
step_pin: extra_mcu:PA8   
dir_pin: extra_mcu:PB8    
enable_pin:!extra_mcu: PB11   
rotation_distance: 6.778 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 150     
heater_pin:extra_mcu:PB9  
sensor_type:my_thermistor_e  
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5  
min_temp: 5                  
max_temp: 305                 
max_power: 1.0                
min_extrude_temp: 5
#control : pid
#pid_kp : 33.838
#pid_ki : 5.223
#pid_kd : 47.752
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.035 
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: extra_mcu:PB10  
interpolate: True             
run_current: 0.8           
#hold_current: 0.75             
uart_address:3
sense_resistor: 0.150          

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 105                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

[multi_pin print_cooling_fan_pins]
pins: extra_mcu:PA7, extra_mcu:PB1

# print/part cooling fan
[fan]
pin: multi_pin:print_cooling_fan_pins
max_power: 1.0

[fan_generic exhaust_fan] # exhaust fan
pin: PA2
max_power: 1.0

# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
[controller_fan MCU_fan]
pin: PA1
max_power: 1
kick_start_time: 0.5
fan_speed: 1
idle_timeout: 300
heater: extruder, heater_bed
stepper: stepper_x, stepper_y

# Want your fan (host) temperature controlled? Uncomment the next section and comment out the above section, derived from: https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
#[temperature_fan MCU_fan]
#pin: PA1
#kick_start_time: 0.5
#max_power: 1.0
#min_temp: 0
#max_temp: 90
#hardware_pwm: true
#target_temp: 50
#sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
#max_speed: 1.0
#min_speed: 0.1
#control: pid
#pid_Kp: 2.0     ;40
#pid_Ki: 5.0     ;0.2
#pid_Kd: 0.5     ;0.1
#pid_deriv_time: 2.0
#control: watermark # use this control if pid control does not work for your fan

[heater_fan hotend_fan]      
pin: extra_mcu:PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 50              
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[gcode_arcs]                       
resolution: 1.0                    

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 1200

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[pause_resume]

[exclude_object]

[adxl345]
cs_pin:extra_mcu:PB12

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 50  # an example175 Y175 Z30
accel_per_hz:75
min_freq:10
max_freq:130

[input_shaper]
#damping_ratio_x: 0.001
#damping_ratio_y: 0.001
shaper_type_x = mzv
shaper_freq_x = 63.4
shaper_type_y = mzv
shaper_freq_y = 46.4

#[temperature_fan CPUfan] # MOD mainboard fan control
#pin: PA1
#kick_start_time: 0.5
#max_power: 1.0
#min_temp: 0
#max_temp: 90
#cycle_time: 0.010
#hardware_pwm: true
#target_temp: 54
#sensor_type: temperature_host
#max_speed: 1.0
#min_speed: 0.30
#off_below: 0.32
#control: pid
#pid_Kp: 2
#pid_Ki: .5
#pid_Kd: 0.25
#pid_deriv_time: 5.0

[bed_screws]
screw1: 175,175
screw1_name: Centre
screw2: 13,13
screw2_name: FrontLeft
screw3: 176,13
screw3_name: FrontMid
screw4: 338,13
screw4_name: FrontRight
screw5: 13,176
screw5_name: MidLeft
screw6: 338,176
screw6_name: Mid Right
screw7: 13,338
screw7_name: BackLeft
screw8: 176,338
screw8_name: BackMid
screw9: 338,338
screw9_name: BackRight
horizontal_move_z: 2
speed: 400
probe_speed: 3

[screws_tilt_adjust]
screw1: 191,166
screw1_name: Centre
screw2: 28,3
screw2_name: FrontLeft
screw3: 191,3
screw3_name: FrontMid
screw4: 353,3
screw4_name: FrontRight
screw5: 28,166
screw5_name: MidLeft
screw6: 353,166
screw6_name: Mid Right
screw7: 28,328
screw7_name: BackLeft
screw8: 191,328
screw8_name: BackMid
screw9: 353,328
screw9_name: BackRight
horizontal_move_z: 3
speed: 400
screw_thread: CCW-M4

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
# number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
# keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
# timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.917
#*# pid_ki = 4.078
#*# pid_kd = 44.413
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.777
#*# pid_ki = 0.716
#*# pid_kd = 1557.574
#*# version = 1
#*# points =
#*# 	-0.007612, 0.088564, 0.123662, 0.103853, 0.087296, 0.053762, 0.060106, 0.032285, 0.028026
#*# 	0.070485, 0.137480, 0.126959, 0.111259, 0.087687, 0.091322, 0.077103, 0.050235, 0.037527
#*# 	0.065884, 0.139209, 0.117463, 0.107301, 0.094227, 0.096436, 0.100431, 0.058719, 0.064834
#*# 	0.089062, 0.111659, 0.098963, 0.085660, 0.091527, 0.071130, 0.101880, 0.065630, 0.027803
#*# 	0.050664, 0.095739, 0.089650, 0.105544, 0.091411, 0.077688, 0.115550, 0.077934, 0.065922
#*# 	0.044744, 0.108187, 0.097691, 0.088351, 0.061463, 0.077308, 0.080052, 0.074172, 0.038704
#*# 	0.033146, 0.108031, 0.106078, 0.101404, 0.128437, 0.097323, 0.096220, 0.078921, 0.096270
#*# 	0.037249, 0.088985, 0.088904, 0.077217, 0.060693, 0.069432, 0.048448, 0.039418, 0.019479
#*# 	0.019676, 0.072433, 0.071442, 0.058868, 0.065774, 0.055343, 0.058839, 0.062021, 0.052810
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 329.96
#*# min_y = 15.0
#*# max_y = 329.96
#*# drift_calibration_min_temp = 41.380413960182224
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.265960, 0.252233, 0.217829, 0.209430, 0.178961, 0.158482, 0.140073, 0.141798, 0.146406, 0.168154, 0.168154, 0.180129, 0.198183, 0.236205, 0.273115
#*# 	  0.258851, 0.240067, 0.211113, 0.189138, 0.169853, 0.154486, 0.140082, 0.144089, 0.148710, 0.168741, 0.169853, 0.169853, 0.180713, 0.209952, 0.231751
#*# 	  0.211690, 0.202110, 0.179545, 0.157893, 0.147579, 0.121617, 0.111165, 0.109971, 0.132027, 0.144680, 0.142392, 0.146406, 0.157882, 0.167046, 0.194246
#*# 	  0.208281, 0.181816, 0.167567, 0.146399, 0.125070, 0.109971, 0.111165, 0.107635, 0.110568, 0.130303, 0.161870, 0.160707, 0.152715, 0.161295, 0.169853
#*# 	  0.182919, 0.170439, 0.157287, 0.131426, 0.109371, 0.099475, 0.114629, 0.126264, 0.099471, 0.118096, 0.144104, 0.155076, 0.148710, 0.148710, 0.171546
#*# 	  0.200436, 0.167636, 0.145285, 0.128566, 0.112301, 0.119279, 0.123331, 0.113437, 0.101216, 0.115834, 0.160707, 0.168147, 0.162472, 0.162472, 0.157303
#*# 	  0.187452, 0.161879, 0.140073, 0.114636, 0.119872, 0.116964, 0.109431, 0.100617, 0.099462, 0.109968, 0.135463, 0.148710, 0.144693, 0.149294, 0.167629
#*# 	  0.193081, 0.148710, 0.129175, 0.111704, 0.122732, 0.115834, 0.114620, 0.098872, 0.086578, 0.103557, 0.137765, 0.137246, 0.136024, 0.154472, 0.149893
#*# 	  0.164171, 0.171604, 0.148710, 0.126797, 0.118694, 0.116965, 0.102417, 0.105278, 0.097730, 0.116965, 0.130836, 0.130293, 0.144089, 0.145877, 0.161295
#*# 	  0.189720, 0.179545, 0.176678, 0.143514, 0.127394, 0.119292, 0.116965, 0.123331, 0.129105, 0.135463, 0.145278, 0.134340, 0.148765, 0.162991, 0.156714
#*# 	  0.188036, 0.184079, 0.179545, 0.161884, 0.143514, 0.142392, 0.149302, 0.148119, 0.148693, 0.160176, 0.149301, 0.152190, 0.155010, 0.173304, 0.192500
#*# 	  0.203781, 0.176167, 0.176678, 0.153306, 0.136652, 0.138368, 0.153306, 0.148138, 0.145270, 0.144104, 0.156181, 0.145877, 0.146998, 0.166455, 0.182919
#*# 	  0.220073, 0.212200, 0.199278, 0.186359, 0.170439, 0.168744, 0.181809, 0.176678, 0.165868, 0.177271, 0.186933, 0.176686, 0.178961, 0.192569, 0.218415
#*# 	  0.250017, 0.237843, 0.220589, 0.204364, 0.203785, 0.186871, 0.194828, 0.185773, 0.180063, 0.190821, 0.196506, 0.197595, 0.203192, 0.211620, 0.213357
#*# 	  0.283495, 0.261560, 0.255010, 0.237856, 0.240080, 0.231169, 0.242286, 0.231169, 0.216687, 0.229526, 0.225636, 0.237273, 0.246159, 0.274744, 0.288973
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.4
#*# min_x = 30.0
#*# max_x = 329.88
#*# min_y = 30.0
#*# max_y = 329.88000000000017
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 15, 16
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 16
#*# calibration_15 = gASVygMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLCoWUaAyMBWR0eXBllJOUjAJmOJSJiIeUUpQoSwOMATyUTk5OSv////9K/////0sAdJRiiUNQ70+rVzSLAEB2Gew4RQH9PwnlaaTEUeA/oE13HNta0T89CTUgzRTUP7RzKocd88E/VukQL+UH0b84oEFUAOKsv9ceGXM+98Y/x4zBtEvJnj+UdJRijAZkb21haW6UaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxDDJPzFYseUPk0nLdlsAJU+lHSUYowGd2luZG93lGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGKMB19zeW1ib2yUjAF4lIwGc3ltYm9slGgsdWKMCWZ0b2hfaGlnaJRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1DshHNSFu4aQFbIGzMSkAlAKNdZ3DVb/T9g/Ta9t3ADQF89tIN9Vnc/7tc1RKqDE8B5dbAh/Bf3PzMl7ilwsR9A+Xy2SANdwL8amhWDTYgKwJR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQZmQ1eoD9lD6trmuisxGVPpR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijARodG9mlGgFKYGUfZQoaAhoC2gOSwCFlGgQh5RSlChLAUsKhZRoGIlDUPh4QnQj7pQ+VnNkEC7KGj7Q4N2AaeYFvogcZg6jBcs92odt6uXG0j08vCmfmrn0PdmKj5vNh8O9XFRO1fu3AL7v8o98JTGoPRhXZ0aOJvA9lHSUYmgdaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAwQ8dZwWvjP2ZZxz7S/RNAlHSUYmgkaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAAAAAAADwvwAAAAAAAPA/lHSUYmgraCxoLWgsdWKMB2hfcmFuZ2WUXZQoRz/ja8FZx0MwR0At//juVJmNZYwHZl9yYW5nZZRdlChHQUhNCiUR8ABHQUij88ipsABljAJkY5RLD3Uu
#*# calibration_16 = gASVygMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLCoWUaAyMBWR0eXBllJOUjAJmOJSJiIeUUpQoSwOMATyUTk5OSv////9K/////0sAdJRiiUNQFDRx1Uhf9j/9PFs9hMH9P3DI/3N+T+g/9bcqiqRT3z8jKIo/YF3NP/HebElJkai/AkSroUz5o7/zS34ijtTHP2wi7T1p5sI/pK6uVCmXej+UdJRijAZkb21haW6UaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxDatHXjhNCUPqIeZ8uiHpU+lHSUYowGd2luZG93lGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGKMB19zeW1ib2yUjAF4lIwGc3ltYm9slGgsdWKMCWZ0b2hfaGlnaJRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1DufWYP0OEaQGeIW4olRQpAbksYh4YJ/T8Uy0mHNmT3P4EfClhmuYo/gzsYEX54+b90di1ueE34P5YCibWXRg1APrGfz8Ryzr8dP246sOb3v5R0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQDHKlgeoblT5Cn5cYvy6VPpR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijARodG9mlGgFKYGUfZQoaAhoC2gOSwCFlGgQh5RSlChLAUsKhZRoGIlDUHuae8jeCZU+hOk3ZuFAID6ro5krSVgQvuzHcWYNdgA+7aK2cV+N870qgBfyRLbsvVz6XgoJ9fM90e7vo5TP6j1sB9l5kE/gvThUz0ZM9Ne9lHSUYmgdaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxC4bXYT2XVmP2aqz+9B9xNAlHSUYmgkaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAAAAAAADwvwAAAAAAAPA/lHSUYmgraCxoLWgsdWKMB2hfcmFuZ2WUXZQoRz9mddkTdm24R0At/8fxGtasZYwHZl9yYW5nZZRdlChHQUgruBgjUABHQUiZI+aNmABljAJkY5RLEHUu
#*# tap_adjust_z = -0.015
