[include mainsail.cfg]
[include sovol-macros.cfg]
[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN
[include options/lcd/*.cfg]
[include options/led/lcd.cfg]
[include options/led/neo.cfg]
[include options/toolhead/ebb36.cfg]
[include options/probe/eddy.cfg]
[include KAMP_Settings.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_38FFDB053347533824732051-if00
restart_method: command     

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy           
max_velocity: 700            
max_accel: 10000             
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

[skew_correction]

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 364         # ИЗМЕНИТЬ: было 355 (+5мм)
position_max: 364             # ИЗМЕНИТЬ: было 355 (+5мм)
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 75
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE13 

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.55           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current:  0.55          
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.55            
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true            
run_current: 0.55         
#hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999 

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 105                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

# [multi_pin print_cooling_fan_pins]
# pins: extra_mcu:PA7, extra_mcu:PB1

# # print/part cooling fan
# [fan]
# pin: PA8  # или другой пин на основной плате для кулера детали
# max_power: 1.0

[fan_generic exhaust_fan] # exhaust fan
pin: PA2
max_power: 1.0

# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
[controller_fan MCU_fan]
pin: PA1
max_power: 1
kick_start_time: 0.5
fan_speed: 1
idle_timeout: 300
heater: extruder, heater_bed
stepper: stepper_x, stepper_y

# Want your fan (host) temperature controlled? Uncomment the next section and comment out the above section, derived from: https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
#[temperature_fan MCU_fan]
#pin: PA1
#kick_start_time: 0.5
#max_power: 1.0
#min_temp: 0
#max_temp: 90
#hardware_pwm: true
#target_temp: 50
#sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
#max_speed: 1.0
#min_speed: 0.1
#control: pid
#pid_Kp: 2.0     ;40
#pid_Ki: 5.0     ;0.2
#pid_Kd: 0.5     ;0.1
#pid_deriv_time: 2.0
#control: watermark # use this control if pid control does not work for your fan

# [heater_fan hotend_fan]      
# pin: extra_mcu:PA6   
# max_power: 1.0               
# kick_start_time: 0.5         
# heater: extruder             
# heater_temp: 50              
# tachometer_pin:extra_mcu:PA1
# tachometer_ppr: 1
# tachometer_poll_interval: 0.0013

[gcode_arcs]                       
resolution: 1.0                    

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 1200

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110

# [temperature_sensor Toolhead_Temp]
# sensor_type: temperature_mcu
# sensor_mcu: extra_mcu

[pause_resume]

[exclude_object]

# [adxl345]
# cs_pin:extra_mcu:PB12

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 50  # an example175 Y175 Z30
accel_per_hz:75
min_freq:10
max_freq:130

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 66.4
shaper_type_y = mzv  
shaper_freq_y = 49.4
damping_ratio_x = 0.066
damping_ratio_y = 0.045

#[temperature_fan CPUfan] # MOD mainboard fan control
#pin: PA1
#kick_start_time: 0.5
#max_power: 1.0
#min_temp: 0
#max_temp: 90
#cycle_time: 0.010
#hardware_pwm: true
#target_temp: 54
#sensor_type: temperature_host
#max_speed: 1.0
#min_speed: 0.30
#off_below: 0.32
#control: pid
#pid_Kp: 2
#pid_Ki: .5
#pid_Kd: 0.25
#pid_deriv_time: 5.0

[bed_screws]
screw1: 175, 196.6        # Centre (175+21.6=196.6)
screw1_name: Centre
screw2: 13, 34.6          # FrontLeft (13+21.6=34.6)
screw2_name: FrontLeft
screw3: 176, 34.6         # FrontMid (176+21.6=34.6)
screw3_name: FrontMid
screw4: 338, 34.6         # FrontRight (338+21.6=34.6)
screw4_name: FrontRight
screw5: 13, 197.6         # MidLeft (176+21.6=197.6)
screw5_name: MidLeft
screw6: 338, 197.6        # MidRight
screw6_name: MidRight
screw7: 13, 359.6         # BackLeft (338+21.6=359.6)
screw7_name: BackLeft
screw8: 176, 359.6        # BackMid
screw8_name: BackMid
screw9: 338, 359.6        # BackRight
screw9_name: BackRight
horizontal_move_z: 2
speed: 400
probe_speed: 3

[screws_tilt_adjust]
# === ПЕРЕДНИЙ РЯД (Y=0 для сопла) ===
screw1: 17.5, 21.6        # FrontLeft
screw1_name: FrontLeft
screw2: 180, 21.6         # FrontMid  
screw2_name: FrontMid
screw3: 342.5, 21.6       # FrontRight
screw3_name: FrontRight
# === СРЕДНИЙ РЯД (Y=170.5 для сопла) ===
screw4: 17.5, 192.1       # MidLeft (170.5+21.6=192.1)
screw4_name: MidLeft
screw5: 180, 192.1        # Center
screw5_name: Center
screw6: 342.5, 192.1      # MidRight
screw6_name: MidRight
# === ЗАДНИЙ РЯД (Y=338 для сопла, было 341) ===
screw7: 17.5, 359.6       # BackLeft (338+21.6=359.6)
screw7_name: BackLeft
screw8: 180, 359.6        # BackMid
screw8_name: BackMid
screw9: 342.5, 359.6      # BackRight
screw9_name: BackRight
horizontal_move_z: 3
speed: 400
screw_thread: CCW-M4

# [screws_tilt_adjust]
# screw1: 191,166
# screw1_name: Centre
# screw2: 28,3
# screw2_name: FrontLeft
# screw3: 191,3
# screw3_name: FrontMid
# screw4: 353,3
# screw4_name: FrontRight
# screw5: 28,166
# screw5_name: MidLeft
# screw6: 353,166
# screw6_name: Mid Right
# screw7: 28,328
# screw7_name: BackLeft
# screw8: 191,328
# screw8_name: BackMid
# screw9: 353,328
# screw9_name: BackRight
# horizontal_move_z: 3
# speed: 400
# screw_thread: CCW-M4

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
# number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
# keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
# timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.777
#*# pid_ki = 0.716
#*# pid_kd = 1557.574
#*# version = 1
#*# points =
#*# 	-0.007612, 0.088564, 0.123662, 0.103853, 0.087296, 0.053762, 0.060106, 0.032285, 0.028026
#*# 	0.070485, 0.137480, 0.126959, 0.111259, 0.087687, 0.091322, 0.077103, 0.050235, 0.037527
#*# 	0.065884, 0.139209, 0.117463, 0.107301, 0.094227, 0.096436, 0.100431, 0.058719, 0.064834
#*# 	0.089062, 0.111659, 0.098963, 0.085660, 0.091527, 0.071130, 0.101880, 0.065630, 0.027803
#*# 	0.050664, 0.095739, 0.089650, 0.105544, 0.091411, 0.077688, 0.115550, 0.077934, 0.065922
#*# 	0.044744, 0.108187, 0.097691, 0.088351, 0.061463, 0.077308, 0.080052, 0.074172, 0.038704
#*# 	0.033146, 0.108031, 0.106078, 0.101404, 0.128437, 0.097323, 0.096220, 0.078921, 0.096270
#*# 	0.037249, 0.088985, 0.088904, 0.077217, 0.060693, 0.069432, 0.048448, 0.039418, 0.019479
#*# 	0.019676, 0.072433, 0.071442, 0.058868, 0.065774, 0.055343, 0.058839, 0.062021, 0.052810
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 329.96
#*# min_y = 15.0
#*# max_y = 329.96
#*# drift_calibration_min_temp = 41.380413960182224
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.024235, 0.055424, 0.054642, 0.046875, 0.048415, 0.044549, 0.011658, 0.020304, -0.001768, 0.014808, 0.016370, -0.020812, -0.022393, -0.008894, -0.004149
#*# 	0.048450, 0.061627, 0.062384, 0.051535, 0.049197, 0.034378, 0.013241, 0.024235, -0.003339, 0.015578, 0.024235, -0.014451, -0.016042, -0.020791, -0.008119
#*# 	0.043766, 0.077832, 0.063164, 0.056987, 0.045305, 0.019511, 0.008506, -0.016841, 0.002982, 0.009295, 0.018720, -0.007304, -0.022393, -0.022393, 0.003760
#*# 	0.063939, 0.070126, 0.069361, 0.033605, 0.018720, 0.020291, -0.001769, -0.006505, -0.030377, 0.007697, 0.038308, 0.022654, 0.013207, -0.023980, -0.020038
#*# 	0.048450, 0.066285, 0.045311, 0.034393, 0.012429, -0.002543, -0.006506, 0.000622, -0.021593, -0.002553, 0.020291, 0.046881, 0.001397, -0.024785, -0.022393
#*# 	0.035969, 0.048411, 0.023445, 0.009280, 0.000588, -0.001769, -0.019233, -0.013650, -0.037564, -0.020010, 0.000595, 0.000622, 0.004552, -0.020010, -0.038371
#*# 	0.034393, 0.032817, 0.013223, -0.001769, -0.012858, -0.008103, -0.021593, -0.019208, -0.040769, -0.033558, -0.009681, 0.004552, -0.020791, -0.019208, -0.033560
#*# 	0.035181, 0.033587, -0.004949, -0.005707, -0.004154, -0.000175, -0.007328, -0.022374, -0.043166, -0.034365, -0.012054, 0.013222, -0.009659, -0.015230, -0.023976
#*# 	0.025790, 0.035947, 0.013223, -0.008103, -0.014451, 0.010047, -0.020010, -0.010488, -0.043166, -0.031167, 0.002172, 0.006916, 0.000588, -0.009681, -0.008119
#*# 	0.005348, 0.020305, 0.022654, 0.017934, -0.006505, 0.002172, -0.027970, -0.035149, -0.046378, -0.025579, -0.016032, -0.013650, -0.025579, -0.019208, -0.025579
#*# 	-0.000175, 0.021096, 0.032029, 0.003760, -0.008103, -0.023976, -0.027166, -0.020791, -0.021606, -0.018413, -0.012850, -0.009691, -0.025579, 0.010884, -0.017612
#*# 	0.019513, 0.026580, 0.021863, 0.024986, 0.010047, -0.007304, -0.001769, 0.029692, -0.011254, -0.007304, 0.004552, -0.016010, -0.023980, -0.012850, -0.003339
#*# 	-0.000178, 0.035946, 0.015578, 0.031264, 0.002986, -0.009681, 0.004536, -0.000972, -0.022374, -0.012080, -0.011258, -0.027166, -0.038371, -0.023177, 0.006143
#*# 	-0.001769, 0.017144, 0.010868, 0.004552, -0.006514, 0.006143, -0.014444, -0.029557, -0.040750, -0.023997, -0.027166, -0.044762, -0.047978, -0.037564, -0.024780
#*# 	-0.000972, 0.035181, 0.014808, 0.009280, 0.006133, -0.012109, -0.016029, -0.016029, -0.018434, -0.008082, -0.000972, -0.013650, -0.027171, -0.026368, -0.027970
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.4
#*# min_x = 9.5
#*# max_x = 309.38
#*# min_y = 24.0
#*# max_y = 290.0
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 15, 16
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 16
#*# calibration_15 = gASVygMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLCoWUaAyMBWR0eXBllJOUjAJmOJSJiIeUUpQoSwOMATyUTk5OSv////9K/////0sAdJRiiUNQIHfSBUBp+j8ZXUWUD9j+Pw5i/GivBOM/tApL502l2T/r2vO1eC7VPxdRp6um8M8/ppTjg+XZzL8+WkAGfmTZvxbp1LHsJcg/AH4P2tJD0j+UdJRijAZkb21haW6UaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxDQZQLQO8CUPogXc+zPAJU+lHSUYowGd2luZG93lGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGKMB19zeW1ib2yUjAF4lIwGc3ltYm9slGgsdWKMCWZ0b2hfaGlnaJRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1BaUosE6y4bQA+L0/2aZgpABCLZyhdP/j/9C+tBingBQAeTPHVTSsS/nvsNupJDEMAIguffhU77P8DSMFR6ehtABNkpOQE00r/qV1Ix+ekGwJR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQS+Ih+z7+lD4o3xdviRCVPpR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijARodG9mlGgFKYGUfZQoaAhoC2gOSwCFlGgQh5RSlChLAUsKhZRoGIlDUD5+PDgz7ZQ+xjseW4vCHT4zoaf2lRkNvqNC0jCvNfQ9+umGdpky7j0vCigtNZ7yveQQA2JK+u29evnrnHLC6D1a1F4VBbPcPR/McmS9w869lHSUYmgdaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxCAmZkxkXiyP2YmwAF49xNAlHSUYmgkaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAAAAAAADwvwAAAAAAAPA/lHSUYmgraCxoLWgsdWKMB2hfcmFuZ2WUXZQoRz+yeJExmZmAR0At/xVuAQ60ZYwHZl9yYW5nZZRdlChHQUhOYikUGABHQUiscfARQABljAJkY5RLD3Uu
#*# calibration_16 = gASVygMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLCoWUaAyMBWR0eXBllJOUjAJmOJSJiIeUUpQoSwOMATyUTk5OSv////9K/////0sAdJRiiUNQFDRx1Uhf9j/9PFs9hMH9P3DI/3N+T+g/9bcqiqRT3z8jKIo/YF3NP/HebElJkai/AkSroUz5o7/zS34ijtTHP2wi7T1p5sI/pK6uVCmXej+UdJRijAZkb21haW6UaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxDatHXjhNCUPqIeZ8uiHpU+lHSUYowGd2luZG93lGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGKMB19zeW1ib2yUjAF4lIwGc3ltYm9slGgsdWKMCWZ0b2hfaGlnaJRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1DufWYP0OEaQGeIW4olRQpAbksYh4YJ/T8Uy0mHNmT3P4EfClhmuYo/gzsYEX54+b90di1ueE34P5YCibWXRg1APrGfz8Ryzr8dP246sOb3v5R0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQDHKlgeoblT5Cn5cYvy6VPpR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijARodG9mlGgFKYGUfZQoaAhoC2gOSwCFlGgQh5RSlChLAUsKhZRoGIlDUHuae8jeCZU+hOk3ZuFAID6ro5krSVgQvuzHcWYNdgA+7aK2cV+N870qgBfyRLbsvVz6XgoJ9fM90e7vo5TP6j1sB9l5kE/gvThUz0ZM9Ne9lHSUYmgdaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxC4bXYT2XVmP2aqz+9B9xNAlHSUYmgkaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAAAAAAADwvwAAAAAAAPA/lHSUYmgraCxoLWgsdWKMB2hfcmFuZ2WUXZQoRz9mddkTdm24R0At/8fxGtasZYwHZl9yYW5nZZRdlChHQUgruBgjUABHQUiZI+aNmABljAJkY5RLEHUu
