[include mainsail.cfg]
[include sovol-macros.cfg]
#[include adaptive_purge.cfg]
[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN

# PLEASE UNCOMMENT THE FILE THAT BEST FITS YOUR CONFIGURATION

# IF YOU ARE USING THE SCREEN THAT COMES WITH THE SV08
[include options/lcd/*.cfg]

# Choose whether you would rather control your LEDs with the LCD screen or KlipperScreen
# THESE ARE INCOMPATIBLE WITH EACH OTHER; ONLY ENABLE ONE
[include options/led/lcd.cfg]
#[include options/led/hdmi.cfg]

# If you are using the stock probe, keep the following lines as-is.
# If you have an Eddy probe, comment the first and uncomment the second,
# then go read options/probe/eddy.cfg. 
# Also, when using eddy, comment out/remove the [probe] section here in the printer.cfg
#[include options/probe/stock.cfg]
[include options/probe/eddy.cfg]
[include KAMP_Settings.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_38FFDB053347533824732051-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_50FF6D068367515520350467-if00
restart_method: command      

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy           
max_velocity: 700            
max_accel: 10000             
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

#[skew_correction]

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 75
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE13 

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.55           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current:  0.55          
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.55            
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true            
run_current: 0.55         
#hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999 

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[extruder]
step_pin: extra_mcu:PA8   
dir_pin: extra_mcu:PB8    
enable_pin:!extra_mcu: PB11   
rotation_distance: 6.778 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 150     
heater_pin:extra_mcu:PB9  
sensor_type:my_thermistor_e  
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5  
min_temp: 5                  
max_temp: 305                 
max_power: 1.0                
min_extrude_temp: 5
#control : pid
#pid_kp : 33.838
#pid_ki : 5.223
#pid_kd : 47.752
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.035 
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: extra_mcu:PB10  
interpolate: True             
run_current: 0.8           
#hold_current: 0.75             
uart_address:3
sense_resistor: 0.150          

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 105                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

[multi_pin print_cooling_fan_pins]
pins: extra_mcu:PA7, extra_mcu:PB1

# print/part cooling fan
[fan]
pin: multi_pin:print_cooling_fan_pins
max_power: 1.0

[fan_generic exhaust_fan] # exhaust fan
pin: PA2
max_power: 1.0

# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
[controller_fan MCU_fan]
pin: PA1
max_power: 1
kick_start_time: 0.5
fan_speed: 1
idle_timeout: 300
heater: extruder, heater_bed
stepper: stepper_x, stepper_y

# Want your fan (host) temperature controlled? Uncomment the next section and comment out the above section, derived from: https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
#[temperature_fan MCU_fan]
#pin: PA1
#kick_start_time: 0.5
#max_power: 1.0
#min_temp: 0
#max_temp: 90
#hardware_pwm: true
#target_temp: 50
#sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
#max_speed: 1.0
#min_speed: 0.1
#control: pid
#pid_Kp: 2.0     ;40
#pid_Ki: 5.0     ;0.2
#pid_Kd: 0.5     ;0.1
#pid_deriv_time: 2.0
#control: watermark # use this control if pid control does not work for your fan

[heater_fan hotend_fan]      
pin: extra_mcu:PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 50              
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[gcode_arcs]                       
resolution: 1.0                    

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 1200

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[pause_resume]

[exclude_object]

[adxl345]
cs_pin:extra_mcu:PB12

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 50  # an example175 Y175 Z30
accel_per_hz:75
min_freq:10
max_freq:130

[input_shaper]
#damping_ratio_x: 0.001
#damping_ratio_y: 0.001
shaper_type_x = mzv
shaper_freq_x = 63.4
shaper_type_y = mzv
shaper_freq_y = 46.4

#[temperature_fan CPUfan] # MOD mainboard fan control
#pin: PA1
#kick_start_time: 0.5
#max_power: 1.0
#min_temp: 0
#max_temp: 90
#cycle_time: 0.010
#hardware_pwm: true
#target_temp: 54
#sensor_type: temperature_host
#max_speed: 1.0
#min_speed: 0.30
#off_below: 0.32
#control: pid
#pid_Kp: 2
#pid_Ki: .5
#pid_Kd: 0.25
#pid_deriv_time: 5.0

[bed_screws]
screw1: 175,175
screw1_name: Centre
screw2: 13,13
screw2_name: FrontLeft
screw3: 176,13
screw3_name: FrontMid
screw4: 338,13
screw4_name: FrontRight
screw5: 13,176
screw5_name: MidLeft
screw6: 338,176
screw6_name: Mid Right
screw7: 13,338
screw7_name: BackLeft
screw8: 176,338
screw8_name: BackMid
screw9: 338,338
screw9_name: BackRight
horizontal_move_z: 2
speed: 400
probe_speed: 3

[screws_tilt_adjust]
screw1: 191,166
screw1_name: Centre
screw2: 28,3
screw2_name: FrontLeft
screw3: 191,3
screw3_name: FrontMid
screw4: 353,3
screw4_name: FrontRight
screw5: 28,166
screw5_name: MidLeft
screw6: 353,166
screw6_name: Mid Right
screw7: 28,328
screw7_name: BackLeft
screw8: 191,328
screw8_name: BackMid
screw9: 353,328
screw9_name: BackRight
horizontal_move_z: 3
speed: 400
screw_thread: CCW-M4

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
# number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
# keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
# timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.917
#*# pid_ki = 4.078
#*# pid_kd = 44.413
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.777
#*# pid_ki = 0.716
#*# pid_kd = 1557.574
#*# version = 1
#*# points =
#*# 	-0.007612, 0.088564, 0.123662, 0.103853, 0.087296, 0.053762, 0.060106, 0.032285, 0.028026
#*# 	0.070485, 0.137480, 0.126959, 0.111259, 0.087687, 0.091322, 0.077103, 0.050235, 0.037527
#*# 	0.065884, 0.139209, 0.117463, 0.107301, 0.094227, 0.096436, 0.100431, 0.058719, 0.064834
#*# 	0.089062, 0.111659, 0.098963, 0.085660, 0.091527, 0.071130, 0.101880, 0.065630, 0.027803
#*# 	0.050664, 0.095739, 0.089650, 0.105544, 0.091411, 0.077688, 0.115550, 0.077934, 0.065922
#*# 	0.044744, 0.108187, 0.097691, 0.088351, 0.061463, 0.077308, 0.080052, 0.074172, 0.038704
#*# 	0.033146, 0.108031, 0.106078, 0.101404, 0.128437, 0.097323, 0.096220, 0.078921, 0.096270
#*# 	0.037249, 0.088985, 0.088904, 0.077217, 0.060693, 0.069432, 0.048448, 0.039418, 0.019479
#*# 	0.019676, 0.072433, 0.071442, 0.058868, 0.065774, 0.055343, 0.058839, 0.062021, 0.052810
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 329.96
#*# min_y = 15.0
#*# max_y = 329.96
#*# drift_calibration_min_temp = 41.380413960182224
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.135895, -0.122642, -0.114591, -0.121161, -0.114556, -0.131472, -0.150700, -0.142565, -0.156630, -0.143274, -0.157393, -0.152927, -0.155154, -0.138848, -0.134430
#*# 	-0.111636, -0.109440, -0.114580, -0.118966, -0.132199, -0.138103, -0.143275, -0.151429, -0.143275, -0.105085, -0.129252, -0.150700, -0.154404, -0.130745, -0.135895
#*# 	-0.113856, -0.089066, -0.116771, -0.124841, -0.135150, -0.129265, -0.150700, -0.155154, -0.135908, -0.127049, -0.141061, -0.161861, -0.165573, -0.134406, -0.149204
#*# 	-0.130770, -0.113856, -0.130738, -0.130010, -0.146238, -0.139617, -0.155154, -0.161110, -0.160358, -0.132942, -0.121161, -0.121901, -0.144768, -0.133686, -0.156630
#*# 	-0.138855, -0.112389, -0.134430, -0.146238, -0.153655, -0.158132, -0.142565, -0.151429, -0.149204, -0.121161, -0.118250, -0.116771, -0.131478, -0.142553, -0.160372
#*# 	-0.141782, -0.144021, -0.150700, -0.161191, -0.169315, -0.152177, -0.162589, -0.149234, -0.177544, -0.141821, -0.116795, -0.127049, -0.122642, -0.132218, -0.153677
#*# 	-0.149218, -0.146256, -0.163341, -0.173061, -0.163341, -0.158106, -0.158882, -0.172328, -0.176059, -0.148456, -0.122642, -0.129994, -0.144021, -0.144768, -0.147001
#*# 	-0.155154, -0.165573, -0.162603, -0.178300, -0.165573, -0.152177, -0.155176, -0.164820, -0.158882, -0.149204, -0.114591, -0.118966, -0.132942, -0.120454, -0.141808
#*# 	-0.167078, -0.142555, -0.154404, -0.164820, -0.153655, -0.138868, -0.161110, -0.163341, -0.144768, -0.147751, -0.110195, -0.118965, -0.113856, -0.119705, -0.120461
#*# 	-0.154404, -0.131456, -0.132943, -0.144768, -0.129994, -0.143299, -0.156654, -0.151429, -0.146986, -0.118966, -0.121901, -0.114574, -0.130000, -0.097803, -0.121901
#*# 	-0.121165, -0.102148, -0.110194, -0.116059, -0.134430, -0.121928, -0.094148, -0.105066, -0.108721, -0.083275, -0.092702, -0.100706, -0.090529, -0.076780, -0.055903
#*# 	-0.148462, -0.143275, -0.135894, -0.138103, -0.135150, -0.124100, -0.106541, -0.118966, -0.135894, -0.113843, -0.108728, -0.111674, -0.105824, -0.084021, -0.088335
#*# 	-0.138106, -0.122642, -0.114556, -0.111651, -0.107990, -0.079643, -0.092702, -0.119681, -0.108739, -0.081802, -0.099229, -0.105805, -0.102173, -0.086897, -0.083999
#*# 	-0.128533, -0.122642, -0.116033, -0.116033, -0.109455, -0.117511, -0.094876, -0.107266, -0.106541, -0.078941, -0.070293, -0.079691, -0.082535, -0.077484, -0.058784
#*# 	-0.109465, -0.083269, -0.087625, -0.087623, -0.106541, -0.093429, -0.084701, -0.065986, -0.071723, -0.038754, -0.051622, -0.040212, -0.032376, -0.029532, -0.011167
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.4
#*# min_x = 30.0
#*# max_x = 329.88
#*# min_y = 30.0
#*# max_y = 329.88000000000017
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 15, 16
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 16
#*# calibration_15 = gASVygMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLCoWUaAyMBWR0eXBllJOUjAJmOJSJiIeUUpQoSwOMATyUTk5OSv////9K/////0sAdJRiiUNQe54ZR+ah+D/7E0E7SAT/P7V6znntJec/svPI4QWU4T/mZHvu8A9qv/ExeZJUIeK/BPTIHFTo0T9B5fxs/lTuPye0Gh7pPaS/aThv5GLl17+UdJRijAZkb21haW6UaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxC97uZJXMWUPhvN31f+ApU+lHSUYowGd2luZG93lGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGKMB19zeW1ib2yUjAF4lIwGc3ltYm9slGgsdWKMCWZ0b2hfaGlnaJRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1CX4jhJNTEbQGfNwR8uYApAFh6MmfPd/D+NJt5/dIf/PxS0NEL0ZLQ/gtUEJyM7CsAaXkcThSf7PzrcuVF/rhhATevectOk37+BdbXfeGYGwJR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQJR5P0qEAlT4tjeB8pRGVPpR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijARodG9mlGgFKYGUfZQoaAhoC2gOSwCFlGgQh5RSlChLAUsKhZRoGIlDUC3CUb/o8JQ+2Hpdo06VGz6i0u0QB9gIvh5v8MpuyPY98txCGsxa5b180EJTGQv2vVvGP3kqhek9Jr6cjZeI9T1gA2lwAnrLvdOCDO7reOK9lHSUYmgdaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAARJOKhoP1PmZ2RtjL+xNAlHSUYmgkaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAAAAAAADwvwAAAAAAAPA/lHSUYmgraCxoLWgsdWKMB2hfcmFuZ2WUXZQoRz71g4aKk0QAR0At//7W8MUOZYwHZl9yYW5nZZRdlChHQUhNGnYp4ABHQUimWtvsAABljAJkY5RLD3Uu
#*# calibration_16 = gASVygMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLCoWUaAyMBWR0eXBllJOUjAJmOJSJiIeUUpQoSwOMATyUTk5OSv////9K/////0sAdJRiiUNQFDRx1Uhf9j/9PFs9hMH9P3DI/3N+T+g/9bcqiqRT3z8jKIo/YF3NP/HebElJkai/AkSroUz5o7/zS34ijtTHP2wi7T1p5sI/pK6uVCmXej+UdJRijAZkb21haW6UaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxDatHXjhNCUPqIeZ8uiHpU+lHSUYowGd2luZG93lGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGKMB19zeW1ib2yUjAF4lIwGc3ltYm9slGgsdWKMCWZ0b2hfaGlnaJRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1DufWYP0OEaQGeIW4olRQpAbksYh4YJ/T8Uy0mHNmT3P4EfClhmuYo/gzsYEX54+b90di1ueE34P5YCibWXRg1APrGfz8Ryzr8dP246sOb3v5R0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQDHKlgeoblT5Cn5cYvy6VPpR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijARodG9mlGgFKYGUfZQoaAhoC2gOSwCFlGgQh5RSlChLAUsKhZRoGIlDUHuae8jeCZU+hOk3ZuFAID6ro5krSVgQvuzHcWYNdgA+7aK2cV+N870qgBfyRLbsvVz6XgoJ9fM90e7vo5TP6j1sB9l5kE/gvThUz0ZM9Ne9lHSUYmgdaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxC4bXYT2XVmP2aqz+9B9xNAlHSUYmgkaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAAAAAAADwvwAAAAAAAPA/lHSUYmgraCxoLWgsdWKMB2hfcmFuZ2WUXZQoRz9mddkTdm24R0At/8fxGtasZYwHZl9yYW5nZZRdlChHQUgruBgjUABHQUiZI+aNmABljAJkY5RLEHUu
